{% extends 'main.html' %}
{% load static %}

{% block content %}
<br>
<div class="row">
    <div class="col-md-10">
        <div class="card card-body">
            <p>Are you sure you want to delete purchase <strong>{{purchase.items}}</strong> </p>

            <form method="POST" action="{% url 'delete_purchase' purchase.id %}">
                {% csrf_token %}
                <a class="btn btn-sm btn-warning" href="{% url 'all_purchase' %}">Cancel</a>
                <input class="btn btn-sm btn-danger" type="submit" name="confirm">
            </form>

        </div>
    </div>
</div>
    
{% endblock content %}