{% extends 'main.html' %}

{% block content %}
<style >
    
#footer {
  position: absolute;
  bottom: 0;
  right: 0;
}

#services {
  position: absolute;
  bottom: 5%;
  /*left: 0;*/
}

#h2{
    color: darkblue;
}

.center {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

img { 
  width: 45%;
  height: auto;
  opacity: 0.3;
}

</style>
<br>


<div >
  <img src="static/images/LINK2DOT5.png" alt="Cinque Terre" >
  <img src="static/images/LINK2DOT5.png" alt="Cinque Terre" >

</div>

<br>

<div class="row" id="services">
    <div class="col">
        <div class="col-md">
            <div class="container" >            

                <h2 id="h2">Our Branches</h2>
                <p>Lorem ipsum dolor sit amet..</p>
                <p>Lorem ipsum dolor sit amet..</p>
                <p>Lorem ipsum dolor sit amet</p>
            
            </div>

        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="container" >            

                <h2 id="h2" >Our Products</h2>
                <p>Lorem ipsum dolor sit amet..</p>
                <p>Lorem ipsum dolor sit amet..</p>
                <p>Lorem ipsum dolor sit amet</p>
            
            </div>

        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="container" >            

                <h2 id="h2">Our Services</h2>
                <p>Lorem ipsum dolor sit amet..</p>
                <p>Lorem ipsum dolor sit amet..</p>
                <p>Lorem ipsum dolor sit amet</p>
            
            </div>

        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="container" >            

                <h2 id="h2">Contact Us</h2>
                <p>Lorem ipsum dolor sit amet..</p>
                <p>Lorem ipsum dolor sit amet..</p>
                <p>Lorem ipsum dolor sit amet</p>
            
            </div>

        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="container" >            

                <h2 id="h2">Place Orders</h2>
                <p>Lorem ipsum dolor sit amet..</p>
            
            </div>

        </div>
    </div>
</div>    
    

<div class="container" id="footer" >
    <p style="color:red;">&copy; 2023 twaaku_traders. All rights reserved. <strong>+256 705-920-371</strong> </p>
</div>


{% endblock content %}