<style >
    body {
    background-color: #ebeff5;
}

#total-orders {
    background-color: #4cb4c7;
}

#orders-delivered {
    background-color: #7abecc;
}

#orders-pending {
    background-color: #7CD1C0;
}
.row {   
    padding: 14px;
}
</style>

<br>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-orders">
                <div class="card-header">
                    <h5 class="card-title"> Employees</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{total_employees}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="orders-pending">
                <div class="card-header">
                    <h5 class="card-title"> Pending deposits</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{pending_deposits}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="orders-delivered">
                <div class="card-header">
                    <h5 class="card-title">Approved Deposits </h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{approved_deposits}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="row">
  
        <div class="col">
            <div class="col-md">
                <div class="card text-center text-white mb-3" id="orders-pending">
                    <div class="card-header">
                        <h5 class="card-title">Amount: Savings </h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{savings_total}}/=</h3>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col">
            <div class="col-md">
                <div class="card text-center text-white mb-3" id="orders-delivered">
                    <div class="card-header">
                        <h5 class="card-title"> Amount: Expenses </h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{expenses_total}}/=</h3>
                    </div>
                </div>
            </div>
        </div>
      
        <div class="col">
            <div class="col-md">
                <div class="card text-center text-white mb-3" id="orders-pending">
                    <div class="card-header">
                        <h5 class="card-title"> Amount: OtherIncome </h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{otherincome}}/=</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-orders">
                <div class="card-header">
                    <h5 class="card-title"> Available Balance:</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{current_balance}}/=</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
            <div class="col-md">
                <div class="card text-center text-white mb-3" id="orders-pending">
                    <div class="card-header">
                        <h5 class="card-title"> Total Contributions </h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{grand_total}}/=</h3>
                    </div>
                </div>
            </div>
        </div>
</div><br>